.nav {
    display: flex;
    align-items: center;
    height: 60px;
}

.nav a {
    padding: 10px 20px;
    background: gray;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.nav a:hover {
    opacity: 0.5;
}

.home-page .active {
    background: blue;
}

.about-page .active {
    background: green;
}

.contact-page .active {
    background: red;
}
